{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}

	<div class="shadow p-3 mb-5 bg-white rounded">
		<h1 class="text-center text-danger">ASSOCIATION SAHEL FOOTBALL CLUB DE SOKODE</h1>
	</div>

	<section class="article" style="background-image: url('images/blanche.jpg');
    padding: 50px 10px 50px 10px;">

		<div class=" title " style=" padding:10px 0px 10px 0px;
					    height: 50px;
					    color: brown;
					    border-bottom: 1.5px solid #000000;
					    margin-bottom: 30px;">
			<h2> Les articles </h2>
		</div>
			<div class="row">
				{% for article in articles %}
					<div class="col-sm-4 mb-4">
						<div class="card hover">
							<img src="uploads/{{ article.image }}" class="card-img-top" alt="..." width="100%" height="200px">
							<div class="card-body">
								<h5 class="card-title">{{ article.title }}</h5>
								<p class="card-text text-truncate">{{ article.content | raw }}</p>
								<a href="{{ path('blog_show', {'id': article.id})}}" class="btn btn-link">lire la suite...</a>
							</div>
							<small class="text-muted" style="padding:5px">Last updated
								{{ article.createdAt | date('d/m/Y') }}
								a
								{{article.createdAt | date('H:i')}}
								ago</small>
						</div>
					</div>

			{% endfor %}

			</div>
		

	</section>
{% endblock %}
