{% extends 'base.html.twig' %}

{% block title %}scores
{% endblock %}

{% block body %}
	<section class="jumbotron">

    <div style=" padding:10px 0px 10px 0px;
					    height: 50px;
					    color: brown;
					    border-bottom: 1.5px solid #000000;
					    margin-bottom: 30px;">

                        <h2>Scores du dernier match</h2>
    
    </div>
		
        {{ form_start(formScore) }}
        <div class="row">
            <div class="col-md-2"> {{ form_row(formScore.firstTeam)}} </div>
            <div class="col-md-2"> {{ form_row(formScore.firstScore)}} </div>
            <div class="col-md-4"></div>
            <div class="col-md-2"> {{ form_row(formScore.secondTeam)}} </div>
            <div class="col-md-2"> {{ form_row(formScore.secondScore)}} </div>
        </div>
         <button type="submit" class="btn btn-success">
            
              Enregistrer
            
        </button>
		
        {{form_end(formScore)}}


	</section>
{% endblock %}
